<div class="container-fluid">
  <div class="user-profile social-app-profile">
    <div class="row">
      <!-- user profile first-style start-->
      <div class="col-sm-12 box-col-12">
        <app-social-app-profile (activeTabValue)="getTabValue($event)" />
      </div>
    </div>
    <div class="tab-content" id="top-tabContent">
      <div class="tab-pane fade show active">
        @if(activeTab === 'timeline'){
        <app-social-app-timeline />
        }@else if(activeTab === 'about'){
        <app-social-app-about />
        }@else if (activeTab === 'friends') {
        <app-social-app-friends />
        }@else if (activeTab === 'photos') {
        <app-social-app-photos />
        }
      </div>
    </div>
  </div>
</div>
