<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-basic-area-chart />
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-area-spaline-chart />
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-bar-chart />
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-column-chart />
    </div>
    <div class="col-sm-12 col-xl-6 box-col-12">
      <app-bubble-chart />
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-stepline-chart />
    </div>
    <div class="col-sm-12 col-xl-12 box-col-6">
      <app-column-chart-2 />
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-pie-chart />
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-donut-chart />
    </div>
    <div class="col-sm-12 col-xl-12 box-col-12">
      <app-mixed-chart />
    </div>
    <div class="col-sm-12 col-xl-12 box-col-12">
      <app-candlestick-chart />
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-radar-chart />
    </div>
    <div class="col-sm-12 col-xl-6 box-col-6">
      <app-radial-bar-chart />
    </div>
  </div>
</div>
