<div class="container-fluid">
  <div class="row">
    <div class="col-xxl-6">
      <app-typography-heading />
    </div>
    <div class="col-xxl-6">
      <app-typography-color-heading />
    </div>
    <div class="col-12">
      <app-typography-font-weight />
    </div>
    <div class="col-sm-12 listing">
      <app-listing-typography />
    </div>
    <div class="col-12">
      <app-typography-display-heading />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-typography-inline-text-element />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-typography-text-color />
    </div>
    <div class="col-sm-12">
      <app-typography-block-quotes />
    </div>
  </div>
</div>
