<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <app-dark-theme-alert />
    </div>
    <div class="col-xl-12">
      <app-light-theme-alert />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-outlined-alert />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-alert-icon />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-dismiss-dark-alert />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-dismiss-light-alert />
    </div>
    <div class="col-xl-6">
      <app-live-alert />
    </div>
    <div class="col-xl-6">
      <app-left-border-alert />
    </div>
    <div class="col-sm-12">
      <app-additional-content-alert />
    </div>
  </div>
</div>
