<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-style-border />
    </div>
    <div class="col-12">
      <app-border-display />
    </div>
    <div class="col-12">
      <app-background-colors />
    </div>
    <div class="col-12">
      <app-border-color />
    </div>
    <div class="col-xl-6">
      <app-image-size />
    </div>
    <div class="col-xl-6">
      <app-font-style />
    </div>
    <div class="col-xl-6">
      <app-font-weight />
    </div>
    <div class="col-xl-6">
      <app-text-color />
    </div>
    <div class="col-12">
      <app-font-size />
    </div>
  </div>
</div>
