<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6 col-md-12 box-col-12">
      <app-chart-js-bar />
    </div>
    <div class="col-xl-6 col-md-12 box-col-12">
      <app-chart-js-line-graph />
    </div>
    <div class="col-xl-6 col-md-12 box-col-12">
      <app-chart-js-radar />
    </div>
    <div class="col-xl-6 col-md-12 box-col-12">
      <app-chart-js-line />
    </div>
    <div class="col-xl-6 col-md-12 box-col-12">
      <app-chart-js-doughnut />
    </div>
    <div class="col-xl-6 col-md-12 box-col-12">
      <app-chart-js-polar />
    </div>
  </div>
</div>
