<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4 col-md-6">
      <app-default-list />
    </div>
    <div class="col-xl-4 col-md-6">
      <app-active-list />
    </div>
    <div class="col-xl-4 col-md-12">
      <app-flush-list />
    </div>
    <div class="col-xxl-6 col-sm-12 box-col-12">
      <app-contextual-classes-list />
    </div>
    <div class="col-xxl-6 col-12 box-col-12">
      <app-horizontal-list />
    </div>
    <div class="col-md-12">
      <app-custom-content-list />
    </div>
    <div class="col-xl-4 col-md-6">
      <app-check-box-list />
    </div>
    <div class="col-xl-4 col-md-6">
      <app-radio-list />
    </div>
    <div class="col-xl-4 col-12">
      <app-number-list />
    </div>
    <div class="col-sm-12 col-xl-12">
      <app-js-behavior-list />
    </div>
    <div class="col-xxl-4 col-md-6">
      <app-number-badge-list />
    </div>
    <div class="col-xxl-4 col-md-6">
      <app-disabled-list />
    </div>
    <div class="col-xxl-4">
      <app-scrollable-list />
    </div>
  </div>
</div>
