<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6 col-12">
      <app-slides-only-carousel />
    </div>
    <div class="col-xl-6 col-12">
      <app-with-control-carousel />
    </div>
    <div class="col-12">
      <app-auto-play-carousel />
    </div>
    <div class="col-xl-6 col-12">
      <app-with-indicators-carousel />
    </div>
    <div class="col-xl-6 col-12">
      <app-with-caption-carousel />
    </div>
    <div class="col-xl-6 col-12">
      <app-animation-carousel />
    </div>
    <div class="col-xl-6 col-12">
      <app-dark-variant-carousel />
    </div>
  </div>
</div>
