/**=====================
  38. Landing CSS Start
==========================**/
$landing-color: $primary-color;
.landing-page {
  .section-py-space {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .section-pt-space {
    padding-top: 70px;
  }
  .section-pb-space {
    padding-bottom: 70px;
  }
  .light-bg {
    background-color: rgb(62 75 173 / 4%) !important;
  }
  section {
    .title {
      margin-bottom: 35px;
      position: relative;
      text-align: center;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      transition: all 0.3s ease;
      h2 {
        font-size: 32px;
        color: $black;
        span {
          color: var(--theme-deafult);
        }
      }
      img {
        width: 140px;
      }
    }
    &:hover {
      transition: all 0.3s ease;
      .title {
        h2 {
          &:after {
            width: 110%;
          }
        }
      }
    }
  }
  // landing header
  .custom-container {
    max-width: 1660px;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
  .navbar-nav {
    align-items: center;
    .nav-item {
      position: relative;
      .nav-link {
        color: $black;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 12px;
        transition: all 0.3s ease;
        opacity: 0.7;
        &:hover,
        &.active {
          opacity: 1;
          text-shadow: 0 0 0 $primary-color;
          transition: all 0.3s ease;
          color: $primary-color;
        }
      }
    }
  }
  .btn-landing {
    color: $white;
    background-color: var(--theme-deafult);
    padding: 12px 30px;
    line-height: 1;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: fit-content;
    &:hover {
      color: $white;
    }
    &.btn-white {
      background-color: $white !important;
      color: $primary-color;
    }
  }
  .landing-header {
    padding: 12px 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 0 12px rgba($white, 0.1);
    transition: all 0.5s ease-in-out;
    background-color: #dce2f9;
    &.sticky {
      background-color: #dce2f9;
      transition: all 0.5s ease-in-out;
      padding: 6px 10px;
    }
    ul.landing-menu {
      li.nav-item {
        &.menu-back {
          border-bottom: 1px solid $light-gray;
          padding: 22px 20px;
          text-align: right;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 16px;
          display: none;
          cursor: pointer;
          margin-bottom: 15px;
          i {
            font-size: 16px;
            margin-left: 10px;
          }
        }
        a.nav-link {
          font-size: 16px;
          font-weight: 600;
          color: $theme-font-color;
          padding: 10px 20px;
        }
        &:hover {
          a.nav-link {
            color: $secondary-color;
          }
        }
      }
    }
    .buy-block {
      display: flex;
      align-items: center;
      .toggle-menu {
        margin-left: 20px;
        display: none;
        cursor: pointer;
        i {
          font-size: 24px;
          color: $theme-font-color;
        }
      }
    }
  }
  .btn-section {
    margin-top: 25px;
    color:  var(--theme-deafult) !important;
    font-weight: 600;
    border-radius: 8px;
    font-size: calc(13px + (20 - 15) * ((100vw - 300px) / (1920 - 300)));
    cursor: pointer;
    display: inline-block;
    &:hover {
      background-color: var(--theme-deafult) !important;
      color: $white !important;
    }
  }
  // landing home
  .landing-home {
    background-color: rgba($primary-color, 0.9);
    position: relative;
    overflow: hidden;
    .home-bg {
      ul {
        li {
          position: absolute;
          &:first-child {
            top: 15%;
            left: 7%;
          }
          &:nth-child(2) {
            bottom: 14%;
            left: 30%;
          }
          &:nth-child(3) {
            bottom: 26%;
            right: 0;
          }
          &:last-child {
            top: 11%;
            right: 11%;
          }
        }
      }
    }
    .landing-home-contain {
      margin-left: 159px;
      text-align: left;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .transfer {
        display: inline-flex;
        align-items: center;
        img {
          width: 66px;
          height: 66px;
        }
        p {
          font-size: 18px;
          font-weight: 500;
          color: var(--theme-deafult);
          margin: 0;
        }
      }
      h2 {
        color: $theme-font-color;
        font-weight: 700;
        font-size: 60px;
        margin-bottom: 6px;
        line-height: 79px;
        span {
          background: linear-gradient(82.15deg, #FF6150 0.56%, #6271EB 48.44%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;     
        }
        img {
          position: absolute;
          left: 0;
          top: 43%;
        }
      }
      h3 {
        font-size: 24px;
        color: $secondary-color;
        font-weight: 600;
        margin-bottom: 15px;
      }
      p {
        color:#535353;
        font-size: 18px;
        font-weight: 600;
        width: 100%;
        margin-bottom: 30px;
      }
      .btn-home-list {
        margin-bottom: -10px;
        li {
          display: inline-block;
          .btn {
            text-transform: capitalize;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            padding: 13px 15px;
            span {
              font-size: 16px;
              font-weight: 600;
            }
          }
          &:nth-child(n + 2) {
            margin-left: 10px;
          }
        }
      }
    }
    .animat-block {
      position: relative;
      padding: 195px 0;
      ul {
        li {
          img {
            border-radius: 15px;
          }
          &:first-child {
            animation: move2 1.3s infinite alternate;
            position: absolute;
            top: 9%;
            left: 39%;
          }
          &:nth-child(2) {
            position: absolute;
            bottom: 7%;
            left: 0%;
            z-index: 1;
            animation: move2 1.4s infinite alternate;
          }
          &:nth-child(3) {
            position: absolute;
            bottom: 0;
            right: 27px;
            z-index: 1;
            animation: move2 1.5s infinite alternate;
          }
        }
      }
    }
  }
  @keyframes move1 {
    0% {
      transform: rotate(0deg) translateX(15px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(15px) rotate(-360deg);
    }
  }
  @keyframes move2 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  // layout section
  .layout-section {
    background-color: $white;
    .layout-list {
      display: flex;
      justify-content: center;
      margin-bottom: 35px;
      border: none;
      .nav-item {
        .nav-link {
          padding: 14px 30px;
          background-color: rgba($primary-color, 0.1);
          border-radius: 30px;
          font-weight: 500;
          &.active {
            background-color: $primary-color;
            color: $white;
          }
        }
        + .nav-item {
          margin-left: 18px;
        }
      }
    }
    .layout-links {
      .row {
        margin-bottom: -30px;
        > div {
          margin-bottom: 30px;
        }
      }
      .layout-box {
        background-color: $white;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(8, 21, 66, 0.2);
        ul{
          margin-top: 18px;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          img{
            border-radius: 0;
          }
          li{
            border: 1px solid rgba($primary-color, 0.5);
            border-radius: 14px;
            box-shadow: 0 0 20px rgba(8, 21, 66, 0.1);
            a{
              padding: 9px;
              display: flex;
              align-items: center;
            }
            + li{
              margin-left: 12px;
            }
            &:nth-last-child(-n+2){
              margin-top: 10px;
            }
          }
        }
        img {
          transition: all 0.5s ease;
          border-radius: 10px;
        }
        &:hover {
          img {
            transform: scale(1.02);
          }
        }
      }
      .nav-link {
        border-radius: 10px;
        padding: 15px 30px;
        align-items: center;
        background-color: rgba(92, 97, 242, 0.8);
        position: relative;
      }
    }
  }
  // demo section
  .demo-section {
    .demo-box {
      background-color: $white;
      padding: 20px;
      border-radius: 20px;
      .demo-title {
        padding-top: 20px;
        text-align: center;
        .btn {
          text-transform: capitalize;
          border: 1px solid $primary-color;
          padding: 8px 15px;
          transition: all 0.5s ease;
          color: $primary-color;
          &:hover {
            background-color: $primary-color;
            color: $white;
          }
        }
      }
      .img-wrraper {
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        img {
          transition: all 0.5s ease;
          width: 100%;
        }
      }
      &:hover {
        .img-wrraper {
          img {
            transform: scale(1.02);
          }
        }
      }
    }
    .demo-block {
      margin-bottom: -30px;
      justify-content: center;
      > div {
        margin-bottom: 30px;
      }
    }
  }
  // Frameworks
  .framework {
    .nav {
      margin-bottom: 35px;
      .nav-item {
        &:nth-child(n + 2) {
          margin-left: 20px;
        }
      }
      .nav-link {
        border-radius: 14px;
        padding: 14px;
        align-items: center;
        background-color: $white;
        border: 1px solid $primary-color;
        position: relative;
        h5 {
          font-weight: 700;
          color: $primary-color;
        }
        p {
          color: $white;
        }
        &.active,
        &.show {
          background-color: rgba($primary-color, 0.2);
          border: 1px solid $primary-color;
          box-shadow: 0 0 20px rgba(8, 21, 66, 0.10);
        }
        img {
          height: 28px;
          margin-right: 8px;
        }
      }
    }
    ul.framworks-list {
      text-align: center;
      display: flex;
      justify-content: center;
      gap: 32px;
      flex-wrap: wrap;
      margin-bottom: 1px;
      li {
        display: inline-block;
        width: 202px;
        &:hover{
          .framworks-img {
            img {
              &::after{
                opacity: 1;
                -webkit-animation: 1.5s ease-out 75ms normal none infinite running shine;
                animation: 1.5s ease-out 75ms normal none infinite running shine;
              }
            }
          }
        }
        .framworks-img {
          padding: 40px 10px;
          margin-bottom: 30px;
          border-radius: 22%;
          border: 2px solid rgba(0, 26, 255, 0.1);
          margin: 10px;
          height: 130px;
          width: 130px;
          transition: all 0.3s ease;
          text-align: center;
          margin: 0 auto;
          box-shadow: 0px 5px 20px rgba(46, 35, 94, 0.12);
          img {
            transition: all 0.5s ease;
            height: 58px;
            &::after {
              border-radius: 50%;
              box-shadow: 0 0 0 2px rgba(255,255,255,.2);
              content: "";
              height: 100%;
              width: 100%;
              left: 0;
              top: 0;
              position: absolute;
              opacity: 0;
              -webkit-transform: scale(.9);
              transform: scale(.9);
              z-index: -1;
            }
          }
        }
        h6 {
          margin-top: 10px;
          margin-bottom: unset;
          transition: all 0.5s ease;
          font-weight: 600;
          font-size: 16px;
        }
        &:hover {
          img {
            transform: scale(0.9);
          }
          h6 {
            color: $primary-color;
          }
        }
      }
    }
  }
  
  // responisve card
  .responsive-card {
    .img-wrraper {
      text-align: center;
    }
  }
  // core feature
  .core-feature {
    .feature-block {
      justify-content: center;
      > div {
        margin-bottom: 50px;
        &:nth-last-child(3) ,  &:nth-last-child(2){
          margin-bottom: 0;
        }
      }
    }
    .d-flex {
      border: 2px dashed rgba(0, 26, 255, 0.1);
      padding: 18px 25px 18px 25px;
      align-items: center;
      border-radius: 50px;
      box-shadow: 0px 1px 9px rgba(46, 35, 94, 0.12);
      &:hover {
        .flex-shrink-0 {
          .icon-wrraper {
            background-color: var(--theme-deafult);
            svg {
              color: $white;
            }
          }
        }
      }
      .flex-shrink-0 {
        .icon-wrraper {
          width: 75px;
          height: 75px;
          border-radius: 60px;
          box-shadow: 0px 1px 12.58px 1.42px rgb(0 0 0 / 6%);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s ease;
          svg {
            width: 40%;
            height: auto;
            color: $primary-color;
            transition: all 0.2s ease;
          }
        }
      }
      .flex-grow-1 {
        text-align: left;
        margin-left: 15px;
        h4 {
          font-size: 20px;
          margin-bottom: 8px;
          font-weight: 600;
        }
        p {
          font-size: 15px;
          color: $light-text;
          margin-bottom: unset;
          text-overflow:ellipsis;
          overflow:hidden;
          display: -webkit-box !important;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
        }
      }
    }
    .feature-box {
      border: 1px solid $light-gray;
      padding: 45px 30px;
      text-align: center;
      border-radius: 10px;
      background-color: $white;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      .icon-wrraper {
        width: 60px;
        height: 60px;
        border-radius: 60px;
        margin-bottom: 20px;
        background-color: rgba($primary-color, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.2s ease;
        svg {
          width: 40%;
          height: auto;
          color: $primary-color;
          transition: all 0.2s ease;
        }
      }
      h4 {
        margin-bottom: 0;
        margin-top: 10px;
        font-weight: 700;
      }
      p {
        font-size: 16px;
        color: $light-text;
        margin-bottom: unset;
      }
      &:hover {
        .icon-wrraper {
          background-color: $primary-color;
          svg {
            color: $secondary-color;
          }
        }
      }
    }
  }
  // footer section
  .landing-footer {
    .footer-contain {
      text-align: center;
      img {
        margin-bottom: 5px;
      }
      h2 {
        font-size: calc(18px + (35 - 18) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 1.4;
      }
      .star-rate {
        margin-bottom: 40px;
        li {
          display: inline-block;
          i {
            font-size: calc(
              16px + (30 - 16) * ((100vw - 320px) / (1920 - 320))
            );
          }
        }
      }
      .btn-footer {
        a {
          &:nth-child(n + 2) {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .dashboard-section {
    .demo-slide {
      border: 5px solid #dde3fa;
      border-radius: 10px;
      .pc-bg {
        width: 100%;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0 0 9px 7px rgba(0, 0, 0, 0.06);
        cursor: pointer;
        img {
          width: 100%;
          object-fit: cover;
          object-position: top;
          height: 350px;
          border-radius: 10px;
          transition: 3s all ease;
          &:hover {
            object-position: bottom;
          }
        }
      }
    }
  }
  .appliction-section {
    .demo-slide {
      border: 5px solid #dde3fa;
      border-radius: 10px;
      span {
        width: 100%;
        cursor: pointer;
        img {
          width: 100%;
          object-fit: cover;
          border-radius: 4px;
        }
      }
    }
  }
  .cd-image-container {
    position: relative;
    margin: 0em auto;
    width: 90%;
    max-width: 915px;
    z-index: 1;
  }
  .cd-image-container img {
    display: block;
    width: 100%;
  }
  .cd-image-label {
    position: absolute;
    font-weight: 500;
    letter-spacing: 1px;
    top: 0;
    right: 0;
    color: #ffffff;
    padding: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
    -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
    transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
  }
  .cd-image-label.is-hidden {
    visibility: hidden;
  }
  .is-visible .cd-image-label {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-resize-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .cd-resize-img img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    width: auto;
    max-width: none;
  }
  .cd-resize-img .cd-image-label {
    right: auto;
    left: 0;
  }
  .is-visible .cd-resize-img {
    width: 50%;
    /* bounce in animation of the modified image */
    -webkit-animation: cd-bounce-in 0.7s;
    -moz-animation: cd-bounce-in 0.7s;
    animation: cd-bounce-in 0.7s;
  }
  @-webkit-keyframes cd-bounce-in {
    0% {
      width: 0;
    }
    60% {
      width: 55%;
    }
    100% {
      width: 50%;
    }
  }
  @-moz-keyframes cd-bounce-in {
    0% {
      width: 0;
    }
    60% {
      width: 55%;
    }
    100% {
      width: 50%;
    }
  }
  @keyframes cd-bounce-in {
    0% {
      width: 0;
    }
    60% {
      width: 55%;
    }
    100% {
      width: 50%;
    }
  }
  .cd-handle {
    position: absolute;
    height: 44px;
    width: 44px;
    /* center the element */
    left: 50%;
    top: 50%;
    margin-left: -22px;
    margin-top: -22px;
    border-radius: 50%;
    background: #6271EB url("https://images.clickfunnels.com/09/a714400d3211e7a0bd7d7140585054/cd-arrows.svg") no-repeat center center;
    cursor: move;
    box-shadow: 0 0 0 6px rgba(98, 113, 235, 0.2), 0 0 10px rgba(98, 113, 235, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0) scale(0);
    -moz-transform: translate3d(0, 0, 0) scale(0);
    -ms-transform: translate3d(0, 0, 0) scale(0);
    -o-transform: translate3d(0, 0, 0) scale(0);
    transform: translate3d(0, 0, 0) scale(0);
  }
  .cd-handle.draggable {
    /* change background color when element is active */
    background-color: #445b7c;
  }
  .is-visible .cd-handle {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    -moz-transform: translate3d(0, 0, 0) scale(1);
    -ms-transform: translate3d(0, 0, 0) scale(1);
    -o-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
    -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
    transition: transform 0.3s 0.7s, opacity 0s 0.7s;
  }
  footer {
    padding: 2rem;
  }
  footer p {
    font-size: 90%;
    font-weight: 300;
    text-align: center;
  }
  .counter-section {
    position: relative;
    z-index: 0;
    .circle_percent {
      font-size: 200px;
      width: 180px;
      height: 180px;
      position: relative;
      // background: #eee;
      background: rgba(0, 26, 255, 0.1);
      box-shadow: 0px 5px 20px rgba(46, 35, 94, 0.12);
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      margin: 20px;
    }
    .circle_inner {
      position: absolute;
      left: 0;
      top: 0;
      width: 1em;
      height: 1em;
      clip: rect(0 1em 1em 0.5em);
    }
    .round_per {
      position: absolute;
      left: 0;
      top: 0;
      width: 1em;
      height: 1em;
      background: var(--theme-deafult);
      clip: rect(0 1em 1em 0.5em);
      transform: rotate(180deg);
      transition: 1.05s;
    }
    .percent_more .circle_inner {
      clip: rect(0 0.5em 1em 0em);
    }
    .percent_more:after {
      position: absolute;
      left: 0.5em;
      top: 0em;
      right: 0;
      bottom: 0;
      background: var(--theme-deafult);
      content: "";
    }
    .circle_inbox {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      background: #fff;
      z-index: 3;
      border-radius: 50%;
    }
    .percent_text {
      position: absolute;
      font-size: 36px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
    }  
    h4 {
      margin-bottom: 5px;
    }
    p {
      font-size: 16px;
      color: $theme-body-sub-title-color;
      font-weight: 500;
    }
  }
  .premium-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 41px;
    img {
      height: calc(120px + (350 - 160) * ((100vw - 320px) / (1920 - 320)));
      animation: up-down 4s infinite;
    }
  }
  
  .premium-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
    text-align: left;
  
    @media (max-width:767px) {
      padding-bottom: 0;
    }
  
    &::before {
      content: "";
      width: 3px;
      height: 100%; 
      background: linear-gradient(295deg, rgba(255, 255, 255, 0) 0%, #6271EB 42.7%, rgba(0, 102, 102, 0) 84.52%);
      position: absolute;
      top: 0;
      left: 0;
  
      @media (max-width:767px) {
        display: none;
      }
    }
  
    h3 {
      font-size: calc(20px + (32 - 20) * ((100vw - 300px) / (1920 - 300)));
    }
  
    h2 {
      font-size: calc(18px + (35 - 18) * ((100vw - 300px) / (1920 - 300)));
      padding-top: 6px;
      padding-bottom: 10px;
      text-transform: capitalize;
    }
  
    span {
      margin-bottom: 55px;
      color: $theme-body-sub-title-color;
      font-size: 16px;
      letter-spacing: 0.7px;
  
      @media (max-width:1550px) and (min-width:1241px) {
        margin-bottom: 30px;
      }
  
      @media (max-width:1240px) and (min-width:320px) {
        margin-bottom: 16px;
      }
  
      @media (max-width:991px) and (min-width:320px) {
        text-overflow: ellipsis;
        height: 47px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
  
      }
    }
    .sub-title {
      font-weight: 700;
      font-family: $landing-cursive;
      color: $primary-color;
      margin-top: -14px;
      line-height: 1.8;
  
      @media (max-width:1540px) {
        margin-top: -13px;
      }
  
      @media (max-width:1401px) {
        margin-top: -12px;
      }
  
      @media (max-width:1266px) {
        margin-top: -11px;
      }
  
      @media (max-width:1155px) {
        margin-top: -10px;
      }
  
      @media (max-width:991px) {
        margin-top: -11px;
      }
  
      @media (max-width:769px) {
        margin-top: -10px;
      }
  
      @media (max-width:592px) {
        margin-top: -9px;
      }
    }
  } 
}
.tap-top {
  text-align: center;
  cursor: pointer;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 5;
  color: #fff;
  background: var(--theme-deafult);
  border: none;
  padding: 7px;
  box-shadow: 0 0 10px var(--theme-deafult);
  opacity: 0.5;
  transition: all 0.3s ease;
  &:hover {
    transition: all 0.3s ease;
    opacity: 1;
  }
  svg {
    width: 20px;
  }
}
/**=====================
     38. Landing CSS Ends
==========================**/