<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-6">
      <app-basic-card />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-flat-card />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-without-shadow-card />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-icon-card />
    </div>
    <div class="col-sm-12">
      <app-dark-color-card />
    </div>
    @for(details of infoColorCards; track details){
      <div class="col-xl-4 col-sm-6">
        <app-info-colors-card [details]="details" />
      </div>
    }
  </div>
</div>
