<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-6">
      <app-simple-tab />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-icon-tab />
    </div>
    <div class="col-sm-12 col-xxl-6">
      <app-vertical-tab />
    </div>
    <div class="col-sm-12 col-xxl-6">
      <app-pills-tab />
    </div>
    <div class="col-xxl-6">
      <app-justify-tab />
    </div>
    <div class="col-xxl-6">
      <app-material-left-tab />
    </div>
    <div class="col-xxl-6">
      <app-material-tab />
    </div>
    <div class="col-xxl-6">
      <app-border-tab />
    </div>
  </div>
</div>
