<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-grid-options />
    </div>
    <div class="col-sm-12">
      <app-grid-columns />
    </div>
    <div class="col-sm-12">
      <app-vertical-alignment />
    </div>
    <div class="col-sm-12">
      <app-horizontal-alignment />
    </div>
    <div class="col-sm-12">
      <app-nesting-grid />
    </div>
    <div class="col-sm-12">
      <app-grid-order />
    </div>
    <div class="col-sm-12">
      <app-grid-offset />
    </div>
  </div>
</div>
