<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <app-basic-modal />
    </div>
    <div class="col-lg-6">
      <app-sizes-modal />
    </div>
    <div class="col-xl-12">
      <app-full-screen-modal />
    </div>
    <div class="col-xl-4">
      <app-centered-modal />
    </div>
    <div class="col-xl-4">
      <app-toggle-modal />
    </div>
    <div class="col-xl-4">
      <app-static-modal />
    </div>
    <div class="col-12">
      <app-wool-custom-modal />
    </div>
  </div>
</div>
