<div class="container-fluid">
  <div class="row">
    <!-- simple pagination-->
    <div class="col-md-6">
      <app-default-pagination />
    </div>
    <!-- pagination with active and disabled state-->
    <div class="col-md-6">
      <app-active-disabled-pagination />
    </div>
    <!-- pagination with icons-->
    <div class="col-md-6">
      <app-icon-pagination />
    </div>
    <!-- Rounded Pagination-->
    <div class="col-md-6">
      <app-rounded-pagination />
    </div>
    <!-- pagination alignments-->
    <div class="col-xxl-6">
      <app-pagination-alignment />
    </div>
    <!-- pagination sizing-->
    <div class="col-xxl-6">
      <app-pagination-sizing />
    </div>
  </div>
</div>
